.card-container {
  position: relative;
  max-width: 350px;
  margin: 40px 16px 16px;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.image-container {
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 0 4px #ddd;
  z-index: 10;
  background: white;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.card {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 16px;
  background: white;
  margin-top: -40px;
  padding-top: 40px;
}

.card .card-content {
  margin-top: 2px;
}

.card .card-content h2 {
  font-size: 1.5em;
  margin-bottom: 2px;
}

.card .card-content p {
  margin: 2px 0;
  color: #333;
}

.card .quote-icon {
  color: #ddd;
  font-size: 1.5rem;
  margin: 14px 8px;
}

.card .buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
  cursor: pointer;
}

.card .submit-button {
  margin-top: 16px;
  background: #245dd7;
  text-align: center;
  padding: 12px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  border-radius: 5px;
}

.card button {
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
  font-size: 1.2rem;
}
